<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="style-ni-home.css">

    <title>AdminHub</title>
</head>

<body>


    <!-- SIDEBAR -->
    <section id="sidebar">
        <span class="overlay"></span>
        <div class="modal-box">
            <h2>Confirmation</h2>
            <h3>Are you sure you want to logout?</h3>

            <div class="buttons">
                <a class="close-btn">Cancel</a>
                <a class="logout-btn">
                    <i class='bx bx-log-out'></i>
                    <span>Logout</span>
                </a>
            </div>
        </div>
        <a href="home.html" class="brand">
            <i class='bx bxs-file-find'></i>
            <span class="text">SLU</span>
        </a>
        <ul class="side-menu top">
            <li>
                <a href="home_admin">
                    <i class='bx bxs-home'></i>
                    <span class="text">Home</span>
                </a>
            </li>
            <li>
                <a href="manage_user">
                    <i class='bx bx-upload'></i>
                    <span class="text">Manage Users</span>
                </a>
            </li>
            <li>
                <a href="user_logs">
                    <i class='bx bxs-file-doc'></i>
                    <span class="text">User Logs</span>
                </a>
            </li>
            <li class="active">
                <a href="admin_profile">
                    <i class='bx bxs-face'></i>
                    <span class="text">Profile</span>
                </a>
            </li>
        </ul>

        <ul class="side-menu">
            <li>
                <a href="logout" class="logout">
                    <i class='bx bx-log-out'></i>
                    <span class="text">Logout</span>
                </a>
            </li>
        </ul>


    </section>
    <!-- SIDEBAR -->



    <!-- CONTENT -->
    <section id="content">
        <!-- NAVBAR -->
        <nav>
            <i class='bx bx-menu'></i>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Search...">
                    <button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <input type="checkbox" id="switch-mode" hidden>
            <a href="#" class="notification">
                <i class='bx bxs-bell'></i>
                <span class="num">8</span>
            </a>
            <a href="#" class="profile">
                <img src="img/people.png">
            </a>
        </nav>
        <!-- NAVBAR -->

        <!-- MAIN -->
        <main>
            <div class="head-title">
                <div class="left">
                    <h1>My Profile</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">My Profile</a>
                        </li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li>
                            <a class="active" href="#">Home</a>
                        </li>
                    </ul>
                </div>
            </div>

<!--here yung container-->
            <div class="profile-container">
                
                <div class="sample-image">
                    <img src="img/people.png">
                </div>
                <div class="profile-info">
                    <div class="general-information-label">GENERAL INFORMATION</div>
                    <div class="name-label">First Name: <span class="value">John</span></div>
                    <div class="name-position">Middle Name: <span class="value">Woods</span></div>
                    <div class="name-label">Last Name: <span class="value">Doe</span></div>
                    <div class="name-label">Email: <span class="value">2220001@slu.edu.ph</span></div>
                    <div class="name-label">User ID: <span class="value">2220001</span></div>
                    <!-- Add more divs for additional user information as needed -->
                </div>
                
            </div>

        </main>
        <!-- MAIN -->
    </section>
    <!-- CONTENT -->


    <script src="public/script.js"></script>
</body>

</html>