<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="style-ni-home.css">

    <title>AdminHub</title>
</head>

<body>
    <div class="loader-container">
        <div class="typewriter">
            <div class="slide"><i></i></div>
            <div class="paper"></div>
            <div class="keyboard"></div>
        </div>
    </div>
    <!-- SIDEBAR -->
    <section id="sidebar">
        <a href="home_admin" class="brand">
            <i class='bx bxs-file-find'></i>
            <span class="text">SLU</span>
        </a>
        <ul class="side-menu top">
            <li>
                <a href="home_admin">
                    <i class='bx bxs-home'></i>
                    <span class="text">Home</span>
                </a>
            </li>
            <li class="active">
                <a href="manage_user">
                    <i class='bx bx-user-plus'></i>
                    <span class="text">Manage Users</span>
                </a>
            </li>
            <li>
                <a href="admin_profile">
                    <i class='bx bxs-face'></i>
                    <span class="text">Profile</span>
                </a>
            </li>
        </ul>

        <ul class="side-menu">
            <li>
                <a href="logout" class="logout">
                    <i class='bx bx-log-out'></i>
                    <span class="text">Logout</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- SIDEBAR -->



    <!-- CONTENT -->
    <section id="content">
        <!-- NAVBAR -->
        <nav>
            <i class='bx bx-menu'></i>
            <form action="#"></form>
            <a href="#" class="profile">
                <img src="img/user-img.jpg">
            </a>
        </nav>
        <!-- NAVBAR -->

        <!-- MAIN -->
        <main>
            <div class="head-title">
                <div class="left">
                    <h1>Manage Users</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Manage Users</a>
                        </li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li>
                            <a class="active" href="#">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="doc-container">
                <h2 class="new-user">Edit User</h2>
                <div class="form-container">
                    <form name="frmContact" id="" frmContact"" method="post" action="/edit_user_request" enctype="" onsubmit="">
                        <div class="first-row">
                            <div class="inline-block right-margin">
                                <div class="label">
                                    User ID <span id="user-id-info" class="info"></span>
                                </div>
                                <select id="user" class="input-field" name="user">
                                    <% data.forEach(element => { %>
                                        <option value="<%= element %>"><%= element %></option>
                                    <% }) %> 
                                </select>
                            </div>
                            <div class="inline-block responsive">
                                <div class="label">
                                    Status <span id="department-id-info" class="info"></span>
                                </div>
                                <select id="status" class="input-field" name="status">
                                    <option value="Online">Online</option>
                                    <option value="Offline">Offline</option>
                                </select>
                            </div>
                        </div>
                        <div class="second-row">
                            <div class="inline-block right-margin">
                                <div class="label">
                                    First Name <span id="first-name-info" class="info"></span>
                                </div>
                                <input type="text" class="input-field" name="contact-first-name"
                                    id="contact-first-name" />
                            </div>
                            <div class="inline-block responsive">
                                <div class="label">
                                    Middle Name <span id="middle-name-info" class="info"></span>
                                </div>
                                <input type="text" class="input-field" name="contact-middle-name"
                                    id="contact-middle-name" />
                            </div>
                        </div>
                        <div class="third-row">
                            <div class="inline-block right-margin">
                                <div class="label">
                                    Last Name <span id="last-name-info" class="info"></span>
                                </div>
                                <input type="text" class="input-field" name="contact-last-name"
                                    id="contact-last-name" />
                            </div>
                            <div class="inline-block responsive">
                                <div class="label">
                                    Password <span id="password-info" class="info"></span>
                                </div>
                                <input type="text" class="input-field" name="contact-password" id="contact-password" />
                            </div>
                        </div>
                        <div class="fourth-row">
                            <div class="inline-block right-margin">
                                <div class="label">
                                    Email <span id="email-info" class="info"></span>
                                </div>
                                <input type="text" class="input-field" name="contact-email" id="contact-email" />
                            </div>
                            <div class="inline-block responsive">
                                <div class="label">
                                    Role <span id="role-info" class="info"></span>
                                </div>
                                <select id="role" class="input-field" name="role">
                                    <option value="user">User</option>
                                    <option value="admin">Admin</option>
                                    <option value="reviewer">Reviewer</option>
                                </select>
                            </div>
                        </div>
                        <div class="fifth-row">
                            <div class="inline-block right-margin">
                                <div class="label">
                                    Department <span id="department-info" class="info"></span>
                                </div>
                                <select id="department" class="input-field" name="department">
                                    <%- include('department_options.ejs') %>
                                </select>
                            </div>
                            <div class="inline-block responsive">
                                <div class="label">
                                    Position <span id="position-info" class="info"></span>
                                </div>
                                <input type="text" class="input-field" name="contact-position" id="contact-position" />
                            </div>
                        </div>
                        <div class="buttons">
                            <a href="manage_user" class="cancel-btn">Cancel</a>
                            <button type="submit" class="edt-btn">
                                <i class='bx bx-log-in'></i>
                                Edit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <!-- MAIN --> 
        <%- include('footer.ejs') %>
    </section>
    <!-- CONTENT -->

    <script src="../script.js"></script>
</body>

</html>