<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="../../public/style-ni-home.css">
  </head>
  <body>
    <div class="footer-basic">
      <footer>
        <hr style="margin-left: 50px;margin-right: 50px;text-align: center; color: #dadada; border: 1px solid;">
        <p class="copyright">IT Department</p>
        <p class="copyright">School of Accountancy, Management, Computing, and Information Studies</p>
        <p class="copyright">Saint Louis University</p>
        <p class="copyright">Teamang &copy; 2023. All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>
<!-- credit to https://epicbootstrap.com/snippets/footer-basic-->