<!DOCTYPE html>
<html>
<head>

  <title>PDF Viewer</title>
</head>
<body>
  <h1>PDF Viewer</h1>


  <html>
    <head>
      <script src="https://unpkg.com/@pdftron/webviewer@10.5.1/webviewer.min.js"></script>
    </head>
    <body>

      <div id = viewer ></div>

      <style></style>
      <script type="module" src="/pdfviewer.js"></script>
    </body>
  </html>
  

  <link rel="stylesheet" href="style-ni-home.css">





</body>
</html>