<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="style-ni-home.css">

    <title>AdminHub</title>
</head>

<body>
    <!-- SIDEBAR -->
    <section id="sidebar">
        <a href="#" class="brand">
            <i class='bx bxs-file-find'></i>
            <span class="text">SLU</span>
        </a>
        <ul class="side-menu top">
            <li>
                <a href="home_admin">
                    <i class='bx bxs-home'></i>
                    <span class="text">Home</span>
                </a>
            </li>
            <li class="active">
                <a href="manage_user">
                    <i class='bx bx-user-plus'></i>
                    <span class="text">Manage Users</span>
                </a>
            </li>
            <li>
                <a href="admin_profile">
                    <i class='bx bxs-face'></i>
                    <span class="text">Profile</span>
                </a>
            </li>
        </ul>

        <ul class="side-menu">
            <li>
                <a href="logout" class="logout">
                    <i class='bx bx-log-out'></i>
                    <span class="text">Logout</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- SIDEBAR -->



    <!-- CONTENT -->
    <section id="content">
        <!-- NAVBAR -->
        <nav>
            <i class='bx bx-menu'></i>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Search...">
                    <button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <button class="drop-btn" id="drop-btn">
                <i class='bx bxs-bell'></i>
            </button>
            <div class="dropdown" id="dropdown">
                <div class="notify_item">
                    <div class="notify_img">
                        <img src="img/people.png" alt="profile_pic" style="width: 50px">
                    </div>
                    <div class="notify_info">
                        <p>Alex commented on<span>Timeline Share</span></p>
                        <span class="notify_time">10 minutes ago</span>
                    </div>
                </div>
                <div class="notify_item">
                    <div class="notify_img">
                        <img src="img/people.png" alt="profile_pic" style="width: 50px">
                    </div>
                    <div class="notify_info">
                        <p>Ben hur commented on your<span>Timeline Share</span></p>
                        <span class="notify_time">55 minutes ago</span>
                    </div>
                </div>
                <div class="notify_item">
                    <div class="notify_img">
                        <img src="img/people.png" alt="profile_pic" style="width: 50px">
                    </div>
                    <div class="notify_info">
                        <p>Meryn trant liked your<span>Cover Picture</span></p>
                        <span class="notify_time">2 hours ago</span>
                    </div>
                </div>
                <div class="notify_item">
                    <div class="notify_img">
                        <img src="img/people.png" alt="profile_pic" style="width: 50px">
                    </div>
                    <div class="notify_info">
                        <p>John wick commented on your<span>Profile Picture</span></p>
                        <span class="notify_time">6 hours ago</span>
                    </div>
                </div>
            </div>
            <a href="#" class="profile">
                <img src="img/people.png">
            </a>
        </nav>
        <!-- NAVBAR -->

        <!-- MAIN -->
        <main>
            <div class="head-title">
                <div class="left">
                    <h1>Manage Users</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Manage Users</a>
                        </li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li>
                            <a class="active" href="#">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="doc-container-delete">
                <div class="model-box-revoke" id="revoke">
                    <h2 class="confirmation-text">Confirmation</h2>
                    <h3 class="revoke-text">Are you sure you want to revoke this user?</h3>
                    <form name="frmContact" id="" method="post" action="/delete_user_request" enctype="" onsubmit="">
                        <div class="user-row">
                            <div class="user-id-input">
                                <div class="user-label">
                                    User ID <span id="user-id-info" class="info"></span>
                                </div>
                                <select id="user-id" class="input-field-select" name="user-id">
                                    <% data.forEach(element=> { %>
                                        <option value="<%= element.user_ID %>">
                                            <%= element.user_ID %>
                                        </option>
                                        <% }) %>
                                </select>
                            </div>
                        </div>
                        <div class="buttons-revoke">
                            <button type="submit" class="close-btn">
                                Cancel
                            </button>
                            <button type="submit" class="rvk-btn">
                                <i class="bx bxs-user-x"></i>
                                Revoke
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <!-- MAIN -->
    </section>
    <!-- CONTENT -->

    <script src="../script.js"></script>
</body>

</html>