doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Untitled
  link(rel='stylesheet' href='../../public/style-ni-home.css')

.footer-basic
  footer
    hr(style='margin-left: 50px;margin-right: 50px;text-align: center; color: #dadada; border: 1px solid;')
    p.copyright IT Department
    p.copyright School of Accountancy, Management, Computing, and Information Studies
    p.copyright Saint Louis University
    p.copyright Teamang &copy; 2023. All rights reserved.    
  