/*
Created by: Hans Rafael Daligdig 
Description: This is the styles for the landing page of each tab in the user 
             module that is created in Php
*/

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");





.delivery-tracking {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #e0e0e0;
}

.word-container {
  text-align: center;
  width: 20px; 
  transition: background-color 0.3s ease, color 0.3s ease; 
  margin-right: 20px;
}

.line {
  height: 2px;
  width: 20px; 
  background-color: #e0e0e0;
  transition: background-color 0.3s ease;
}

.green {
  
  color: #4caf50 !important; 
}

.orange{
  color: #FFD580!important;
}

.green-line {
  background-color: #4caf50 !important; 
}

.no-green {
  background-color: #e0e0e0 !important;
  color: #e0e0e0 !important; 
}


.icon-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: #333333;
  background: #dddddd;
  border: none;
  outline: none;
  border-radius: 50%;
}

.icon-button:hover {
  cursor: pointer;
}

.icon-button:active {
  background: #cccccc;
}

.icon-button__badge {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 25px;
  height: 25px;
  background: red;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#countElement .count-text {
  color: blue;
  font-size: 50px;


}








* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 10px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  --gap: 0.5rem;
  --radius: 5px;
}

b {
  font-family: var(--poppins);
  color: #000000;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --poppins: "Poppins", sans-serif;
  --lato: "Lato", sans-serif;
  --light: #073066;
  --white: #ffffff;
  --light-blue: #cfe8ff;
  --grey: #ffffff;
  --white-grey: #aaaaaa;
  --dark: #000000;
  --red: #db504a;
  --yellow: #ffce26;
  --light-yellow: #fff2c6;
  --orange: #fd7238;
  --light-orange: #ffe0d3;
}

/* Loader overlay */
.loader-container {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
}

/* LOADER */
.typewriter {
  --blue: #5C86FF;
  --blue-dark: #275EFE;
  --key: #fff;
  --paper: #EEF0FD;
  --text: #D3D4EC;
  --tool: #FBC56C;
  --duration: 3s;
  position: absolute;
  z-index: 10000;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -50px;
  -webkit-animation: bounce05 var(--duration) linear infinite;
  animation: bounce05 var(--duration) linear infinite;
  opacity: 1;
  transition: opacity 0.5s ease-out; /* Adding a transition for opacity */
}

.fade-out {
  opacity: 0;
}

.typewriter .slide {
  width: 92px;
  height: 20px;
  border-radius: 3px;
  margin-left: 14px;
  transform: translateX(14px);
  background: linear-gradient(var(--blue), var(--blue-dark));
  -webkit-animation: slide05 var(--duration) ease infinite;
  animation: slide05 var(--duration) ease infinite;
}

.typewriter .slide:before,
.typewriter .slide:after,
.typewriter .slide i:before {
  content: "";
  position: absolute;
  background: var(--tool);
}

.typewriter .slide:before {
  width: 2px;
  height: 8px;
  top: 6px;
  left: 100%;
}

.typewriter .slide:after {
  left: 94px;
  top: 3px;
  height: 14px;
  width: 6px;
  border-radius: 3px;
}

.typewriter .slide i {
  display: block;
  position: absolute;
  right: 100%;
  width: 6px;
  height: 4px;
  top: 4px;
  background: var(--tool);
}

.typewriter .slide i:before {
  right: 100%;
  top: -2px;
  width: 4px;
  border-radius: 2px;
  height: 14px;
}

.typewriter .paper {
  position: absolute;
  left: 24px;
  top: -26px;
  width: 40px;
  height: 46px;
  border-radius: 5px;
  background: var(--paper);
  transform: translateY(46px);
  -webkit-animation: paper05 var(--duration) linear infinite;
  animation: paper05 var(--duration) linear infinite;
}

.typewriter .paper:before {
  content: "";
  position: absolute;
  left: 6px;
  right: 6px;
  top: 7px;
  border-radius: 2px;
  height: 4px;
  transform: scaleY(0.8);
  background: var(--text);
  box-shadow: 0 12px 0 var(--text), 0 24px 0 var(--text), 0 36px 0 var(--text);
}

.typewriter .keyboard {
  width: 120px;
  height: 56px;
  margin-top: -10px;
  z-index: 1;
  position: relative;
}

.typewriter .keyboard:before,
.typewriter .keyboard:after {
  content: "";
  position: absolute;
}

.typewriter .keyboard:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 7px;
  background: linear-gradient(135deg, var(--blue), var(--blue-dark));
  transform: perspective(10px) rotateX(2deg);
  transform-origin: 50% 100%;
}

.typewriter .keyboard:after {
  left: 2px;
  top: 25px;
  width: 11px;
  height: 4px;
  border-radius: 2px;
  box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  -webkit-animation: keyboard05 var(--duration) linear infinite;
  animation: keyboard05 var(--duration) linear infinite;
}

@keyframes bounce05 {

  85%,
  92%,
  100% {
      transform: translateY(0);
  }

  89% {
      transform: translateY(-4px);
  }

  95% {
      transform: translateY(2px);
  }
}

@keyframes slide05 {
  5% {
      transform: translateX(14px);
  }

  15%,
  30% {
      transform: translateX(6px);
  }

  40%,
  55% {
      transform: translateX(0);
  }

  65%,
  70% {
      transform: translateX(-4px);
  }

  80%,
  89% {
      transform: translateX(-12px);
  }

  100% {
      transform: translateX(14px);
  }
}

@keyframes paper05 {
  5% {
      transform: translateY(46px);
  }

  20%,
  30% {
      transform: translateY(34px);
  }

  40%,
  55% {
      transform: translateY(22px);
  }

  65%,
  70% {
      transform: translateY(10px);
  }

  80%,
  85% {
      transform: translateY(0);
  }

  92%,
  100% {
      transform: translateY(46px);
  }
}

@keyframes keyboard05 {

  5%,
  12%,
  21%,
  30%,
  39%,
  48%,
  57%,
  66%,
  75%,
  84% {
      box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  9% {
      box-shadow: 15px 2px 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  18% {
      box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 2px 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  27% {
      box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 12px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  36% {
      box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 12px 0 var(--key), 60px 12px 0 var(--key), 68px 12px 0 var(--key), 83px 10px 0 var(--key);
  }

  45% {
      box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 2px 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  54% {
      box-shadow: 15px 0 0 var(--key), 30px 2px 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  63% {
      box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 12px 0 var(--key);
  }

  72% {
      box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 2px 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  81% {
      box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 12px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }
}
/* END OF LOADER */

html {
  overflow-x: hidden;
}

#view{

  font-size: 16px;
  font-weight: 400;
  font-family: var(--poppins);
  color: #fff;
  padding: 10px 15px;
  border: none;
  background: var(--light);
  border-radius: 6px;
  cursor: pointer;
  position : relative;
  left: 80px;

}

#file {

  font-size: 16px;
  font-weight: 400;
  font-family: var(--poppins);
  border: 1px solid #555;
  padding: 10px 15px;
  background: white;
  border-radius: 6px;
  cursor: pointer;
  position : relative;
  left: 80px;


}

.titleDoc{
  position : relative;
  top: 20px;

}

.revDoc{
  position : relative;
  top: 20px;
  overflow: auto;
}


input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  content: "hehe";
}

input[type=file]::file-selector-button:hover {
  background: #0d45a5;
}

#upload{

  font-size: 16px;
  font-weight: 400;
  font-family: var(--poppins);
  color: #fff;
  padding: 10px 15px;
  border: none;
  background: var(--light);
  border-radius: 6px;
  cursor: pointer;
  position : relative;
  left: 100px;
}

body.dark {
  --light: #0c0c1e;
  --grey: #060714;
  --white: #fbfbfb;
}

body {
  background: var(--grey);
  overflow-x: hidden;
}

/* SIDEBAR */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: var(--light);
  z-index: 2000;
  font-family: var(--lato);
  transition: 0.3s ease;
  overflow-x: hidden;
}

#sidebar::--webkit-scrollbar {
  display: none;
}

#sidebar.hide {
  width: 60px;
}

#sidebar .brand {
  font-size: 24px;
  font-weight: 700;
  height: 56px;
  display: flex;
  align-items: center;
  color: var(--white);
  position: sticky;
  top: 0;
  left: 0;
  background: var(--light);
  z-index: -1;
  padding-bottom: 20px;
  box-sizing: content-box;
}

#sidebar .brand .bx {
  min-width: 60px;
  display: flex;
  justify-content: center;
}

#sidebar .side-menu {
  width: 100%;
  margin-top: 48px;
}

#sidebar .side-menu li {
  height: 48px;
  background: transparent;
  margin-left: 6px;
  border-radius: 48px 0 0 48px;
  padding: 4px;
  z-index: -1;
}

#sidebar .side-menu li.active {
  background: #f0f0f0;
  position: relative;
}

#sidebar .side-menu li.active::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -40px;
  right: 0;
  box-shadow: 20px 20px 0 #f0f0f0;
  z-index: -1;
}

#sidebar .side-menu li.active::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: -40px;
  right: 0;
  box-shadow: 20px -20px 0 #f0f0f0;
  z-index: -1;
}

#sidebar .side-menu li a {
  width: 100%;
  height: 100%;
  background: var(--light);
  display: flex;
  align-items: center;
  border-radius: 48px;
  font-size: 16px;
  color: var(--white);
  white-space: nowrap;
  overflow-x: hidden;
}

#sidebar .side-menu.top li.active a {
  color: var(--white);
}

#sidebar.hide .side-menu li a {
  width: calc(48px - (4px * 2));
  transition: width 0.3s ease;
}

#sidebar .side-menu li a.logout {
  color: var(--red);
}

#sidebar .side-menu.top li a:hover {
  color: var(--white);
}

#sidebar .side-menu li a .bx {
  min-width: calc(60px - ((4px + 6px) * 2));
  display: flex;
  justify-content: center;
}

/* SIDEBAR */

/* CONTENT */
#content {
  position: relative;
  width: calc(100% - 280px);
  left: 280px;
  transition: 0.3s ease;
}

#sidebar.hide~#content {
  width: calc(100% - 60px);
  left: 60px;
}

/* NAVBAR */
#content nav {
  height: 56px;
  background: var(--light);
  padding: 0 24px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  font-family: var(--lato);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

#content nav::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -40px;
  left: 0;
  border-radius: 50%;
  box-shadow: -20px -20px 0 var(--light);
}

#content nav a {
  color: var(--white);
}

#content nav .bx.bx-menu {
  cursor: pointer;
  color: var(--white);
}

#content nav .nav-link {
  font-size: 16px;
  transition: 0.3s ease;
}

#content nav .nav-link:hover {
  color: var(--white);
}

#content nav form {
  max-width: 400px;
  width: 100%;
  margin-right: auto;
}

#content nav form .form-input {
  display: flex;
  align-items: center;
  height: 36px;
}

#content nav form .form-input input {
  flex-grow: 1;
  padding: 0 16px;
  height: 100%;
  border: none;
  background: var(--grey);
  border-radius: 36px 0 0 36px;
  outline: none;
  width: 100%;
  color: var(--white);
}

#content nav form .form-input button {
  width: 36px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  color: var(--light);
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 0 36px 36px 0;
  cursor: pointer;
}

#content nav .notification {
  font-size: 20px;
  position: relative;
}

#content nav .notification .num {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--light);
  background: var(--red);
  color: var(--light);
  font-weight: 700;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content nav .profile img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
}

.drop-btn {
  background-color: transparent;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: var(--gap);
  padding: 0.6rem;
  cursor: pointer;
  border-radius: var(--radius);
  border: none;
  position: relative;
}

.drop-btn .bx {
  font-size: 1.1rem;
}

.dropdown {
  position: absolute;
  top: 40px;
  right: 85px;
  width: 350px;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  margin-top: 0.3rem;
  background: #f0f0f0;
  color: #000000;
  visibility: hidden;
  opacity: 0;
  transform: translateY(0.5rem);
  transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
}

.dropdown a {
  display: flex;
  align-items: center;
  column-gap: var(--gap);
  padding: 0.8rem 1rem;
  text-decoration: none;
  color: #00e200;
}

.dropdown a:hover {
  background-color: black;
  color: #000000;
}

.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0rem);
}

.arrow {
  transform: rotate(180deg);
  transition: 0.2s ease;
}

.notify_item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #dbdaff;
}

.notify_item:last-child {
  border-bottom: 0px;
}

.notify_item .notify_img {
  margin-left: 15px;
}

img {
  width: 176px;
  height: 177px;
  object-fit: cover;
  border-radius: 7%;
}

.notify_item .notify_info p {
  margin-bottom: 5px;
  margin-left: 15px;
}

.notify_item .notify_info p span {
  color: #605dff;
  margin-left: 5px;
}

.notify_item .notify_info .notify_time {
  color: #c5c5e6;
  font-size: 12px;
  margin-left: 15px;
}

/* NAVBAR */

.doc-container {
  margin-top: 25px;
  border-radius: 15px;
  padding: 20px;
  background-color: #fff;
  /* padding-left: 300px; */
  /* box-shadow: 0 0 40px #999999; */
  transition: box-shadow 0.2s ease-in-out;
}

.doc-container:before {
  content: "";
  display: block;
  position: absolute;
  background-color: #ccc;
  left: 20px;
  right: 20px;
  bottom: 0;
  top: 50%;
  z-index: -1;
  box-shadow: 0 0 40px #999999;
  transition: box-shadow 0.2s ease-in-out;
}

.filter-btn {
  background: transparent;
  border: none;
  font-size: 30px;
}

.container-sort {
  position: relative;
  display: inline-block;
}

.popover {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1;
}

.popover.active {
  display: block;
}

.options {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px 0;
  list-style-type: none;
  margin: 0;
  z-index: 1;
}

.options.active {
  display: block;
  position: absolute;
  right: 50px;
}


/* Form Container in Modal Pop Up Box */
.form-container {
  border-radius: 3px;
  font-size: 0.9em;
  color: #1e2a28;
  width: 695px;
  margin: 0 auto;
}

.label {
  color: #000000;
}

input[type="text"].input-field,
select.input-field,
textarea.input-field {
  width: 340px;
  border-radius: 3px;
  padding: 10px;
  border: #91949d 1px solid;
  box-sizing: border-box;
  margin: 5px 10px 0px 0px;
}

.input-field-select {
  position: relative;
  left: 23%;
  width: 398px;
  border-radius: 3px;
  padding: 10px;
  border: #91949d 1px solid;
  box-sizing: border-box;
  margin: 5px 10px 0px 0px;
}

.input-field {
  width: 340px;
  border-radius: 3px;
  padding: 10px;
  border: #91949d 1px solid;
  box-sizing: border-box;
  margin: 5px 10px 0px 0px;
}

.btn-submit {
  width: 340px;
  padding: 10px 60px;
  background: #555454;
  border: #464646 1px solid;
  color: #ffffff;
  font-size: 0.9em;
  border-radius: 2px;
  cursor: pointer;
}

.errorMessage {
  background-color: #e66262;
  border: #aa4502 1px solid;
  padding: 8px 10px;
  color: #ffffff;
  border-radius: 3px;
}

.successMessage {
  background-color: #9fd2a1;
  border: #91bf93 1px solid;
  padding: 8px 10px;
  color: #3d503d;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.9em;
}

.info {
  font-size: 0.8em;
  color: #e66262;
  letter-spacing: 2px;
  padding-left: 5px;
}

.first-row {
  margin: 18px 0;
  margin-bottom: 50px;
  display: flex;
}

.second-row {
  margin: 18px 0;
  display: flex;
}

.third-row {
  margin: 18px 0;
  display: flex;
}

.fourth-row {
  margin: 18px 0;
  display: flex;
}

.fifth-row {
  display: flex;
  margin-bottom: 35px;
}

.right-margin {
  margin-right: 25px;
}

.inline-block {
  display: inline-block;
}

.text-center {
  text-align: center;
}

/* MAIN */
#content main {
  width: 100%;
  padding: 36px 24px;
  font-family: var(--poppins);
  background: #f0f0f0;
  min-height: 94vh;
  overflow-y: auto;
}

#content main .head-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
}

#content main .head-title .left h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--dark);
}

#content main .head-title .right {
  height: 36px;
  padding: 0 16px;
  border-radius: 5px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  font-weight: 500;
  font-family: var(--poppins);
}

#content main .head-title .left .breadcrumb {
  display: flex;
  align-items: center;
  grid-gap: 16px;
}

#content main .head-title .left .breadcrumb li {
  color: var(--dark);
}

#content main .head-title .left .breadcrumb li a {
  color: var(--dark);
  pointer-events: none;
}

#content main .head-title .left .breadcrumb li a.active {
  color: var(--dark);
  pointer-events: unset;
}

#content main .head-title .btn-add {
  height: 36px;
  padding: 0 16px;
  border-radius: 5px;
  background: #1dc455;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  font-weight: 500;
  font-family: var(--poppins);
}

#content main .head-title .edit-btn {
  height: 36px;
  padding: 0 16px;
  border-radius: 5px;
  background: #428bca;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  font-weight: 500;
  font-family: var(--poppins);
}

#content main .head-title .revoke-btn {
  height: 36px;
  padding: 0 16px;
  border-radius: 5px;
  background: #f82f2f;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  font-weight: 500;
  font-family: var(--poppins);
}

#content main .box-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 24px;
  margin-top: 36px;
}

#content main .box-info li {
  padding: 24px;
  background: var(--light);
  border-radius: 20px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
}

#content main .box-info li .bx {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content main .box-info li:nth-child(1) .bx {
  background: var(--white);
  color: var(--dark);
}

#content main .box-info li:nth-child(2) .bx {
  background: var(--white);
  color: var(--dark);
}

#content main .box-info li:nth-child(3) .bx {
  background: var(--white);
  color: var(--dark);
}

#content main .box-info li .text h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--white);
}

#content main .box-info li .text p {
  color: var(--white);
}

.review-btn {
  border: none;
  padding: 6px 16px;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  background-color: var(--red);
  cursor: pointer;
  transition: all 0.3s ease;
}

.revoke-btn {
  border: none;
  padding: 6px 16px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  background-color: #747474;
  cursor: pointer;
  transition: all 0.3s ease;
}

.rvk-btn {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--poppins);
  color: #fff;
  padding: 10px 15px;
  border: none;
  background: #f82f2f;
  border-radius: 6px;
  cursor: pointer;
}

.edit-btn {
  border: none;
  padding: 6px 16px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  background-color: #747474;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter-btn {
  border: none;
  padding: 6px 16px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  background-color: #747474;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sort-btn {
  border: none;
  padding: 6px 16px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  background-color: #747474;
  cursor: pointer;
  transition: all 0.3s ease;
}

#content main .table-data {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 24px;
  margin-top: 24px;
  width: 100%;
  color: #000000;
}

#content main .table-data>div {
  border-radius: 20px;
  background: #fffafa;
  padding: 24px;
  overflow-x: auto;
}

#content main .table-data .head {
  display: flex;
  align-items: center;
  grid-gap: 16px;
  margin-bottom: 24px;
}

#content main .table-data .head h3 {
  margin-right: auto;
  font-size: 24px;
  font-weight: 600;
  color: #000000;
}

#content main .table-data .head .bx {
  cursor: pointer;
}

#content main .table-data .order {
  flex-grow: 1;
  flex-basis: 500px;
}

#content main .table-data .order table {
  width: 100%;
  border-collapse: collapse;
}

#content main .table-data .order table th {
  padding-bottom: 12px;
  font-size: 13px;
  text-align: left;
  border-bottom: 1px solid #000000;
}

#content main .table-data .order table td {
  padding: 16px 0;
}

#content main .table-data .order table tr td:first-child {
  display: flex;
  align-items: center;
  grid-gap: 12px;
  padding-left: 6px;
}

#content main .table-data .order table td img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

/* #content main .table-data .order table tbody tr:hover {
	background: var(--grey);
} */

#content main .table-data .order table tr td .status {
  font-size: 10px;
  padding: 6px 16px;
  color: var(--light);
  border-radius: 20px;
  font-weight: 700;
}

#content main .table-data .order table tr td .status.completed {
  background: #00e200;
  color: #000000;
}

#content main .table-data .order table tr td .status.process {
  background: #ffaf3d;
  color: #000000;
}

#content main .table-data .order table tr td .status.pending {
  background: #7b8089;
  color: #000000;
}

#content main .table-data .order table tr td .status.denied {
  background: #ff2a04;
  color: #000000;
}

#content main .table-data .order table tr td .status.online {
  background: #1aa75f;
  color: #000000;
}

#content main .table-data .order table tr td .status.offline {
  background: #80838e;
  color: #000000;
}

#content main .table-data .todo {
  flex-grow: 1;
  flex-basis: 300px;
}

#content main .table-data .todo .todo-list {
  width: 100%;
}

#content main .table-data .todo .todo-list li {
  width: 100%;
  margin-bottom: 16px;
  background: var(--white);
  border-radius: 10px;
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#content main .table-data .todo .todo-list li .bx {
  cursor: pointer;
}

#content main .table-data .todo .todo-list li.completed {
  border-left: 10px solid var(--white);
}

#content main .table-data .todo .todo-list li.not-completed {
  border-left: 10px solid var(--orange);
}

#content main .table-data .todo .todo-list li:last-child {
  margin-bottom: 0;
}

/* MAIN */
/* CONTENT */

.new-user {
  text-align: center;
}

/* Modal Pop up */
.logout-btn {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--poppins);
  color: #fff;
  padding: 10px 15px;
  border: none;
  background: #f82f2f;
  border-radius: 6px;
  cursor: pointer;
}

.create-btn {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--poppins);
  color: #fff;
  padding: 10px 15px;
  border: none;
  background: #1dc455;
  border-radius: 6px;
  cursor: pointer;
}

.close-btn {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--poppins);
  color: #fff;
  padding: 10px 15px;
  border: none;
  background: #a19e9e;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 15px;
}

/* button:hover {
	background-color: #265df2;
} */

button.show-modal,
.modal-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

section.active .show-modal {
  display: none;
}

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
}

section.active .overlay {
  opacity: 1;
  pointer-events: auto;
}

.modal-box {
  max-width: 455px;
  width: 100%;
  padding: 30px 20px;
  border-radius: 10px;
  background-color: #fff;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%) scale(1.2);
}

section.active .modal-box {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.modal-box i {
  margin-right: 5px;
}

.modal-box h2 {
  font-size: 25px;
  font-weight: bold;
  color: #000000;
  font-family: var(--poppins);
}

.modal-box h3 {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  padding-top: 15px;
  font-family: var(--poppins);
}

.buttons {
  float: inline-end;
  margin-right: 5px;
  margin-top: 25px;
}

.buttons-revoke {
  text-align: center;
  margin-top: 50px;
}

.modal-box button {
  font-size: 14px;
  padding: 6px 12px;
  margin: 0 10px;
}

/* Modal Box Pop Up Add User */
.add-btn {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--poppins);
  color: #fff;
  padding: 10px 15px;
  border: none;
  background: #f82f2f;
  border-radius: 6px;
  cursor: pointer;
}

.cancel-btn {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--poppins);
  color: #fff;
  padding: 10px 15px;
  border: none;
  background: #a19e9e;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 15px;
}

/* button:hover {
	background-color: #265df2;
} */

button.show-modal,
.modal-box-add {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

section.active .show-modal {
  display: none;
}

.overlay-add {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
}

section.active .overlay-add {
  opacity: 1;
  pointer-events: auto;
}

.modal-box-add {
  max-width: 800px;
  width: 100%;
  padding: 39px 39px;
  border-radius: 10px;
  background-color: #fff;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%) scale(1.2);
}

section.active .modal-box-add {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.modal-box-add i {
  margin-right: 5px;
}

.modal-box-add h2 {
  font-size: 25px;
  font-weight: bold;
  color: #000000;
  font-family: var(--poppins);
}

.modal-box-add h3 {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  padding-top: 15px;
  font-family: var(--poppins);
}

.modal-box-add .buttons {
  margin-left: 64%;
  margin-top: 25px;
}

.modal-box-add button {
  font-size: 14px;
  padding: 6px 12px;
  margin: 0 10px;
}

/* Modal Box Pop Up Revoke User */
.rvk-btn {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--poppins);
  color: #fff;
  padding: 10px 15px;
  border: none;
  background: #f82f2f;
  border-radius: 6px;
  cursor: pointer;
}

.close-btn {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--poppins);
  color: #fff;
  padding: 10px 15px;
  border: none;
  background: #a19e9e;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 15px;
}

/* button:hover {
	background-color: #265df2;
} */

button.show-modal,
.modal-box-revoke {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

section.active .show-modal {
  display: none;
}

.overlay-revoke {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
}

section.active .overlay-revoke {
  opacity: 1;
  pointer-events: auto;
}

.modal-box-revoke {
  max-width: 455px;
  width: 100%;
  padding: 39px 39px;
  border-radius: 10px;
  background-color: #fff;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%) scale(1.2);
}

section.active .modal-box-revoke {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.modal-box-revoke i {
  margin-right: 5px;
}

.modal-box-revoke h2 {
  font-size: 25px;
  font-weight: bold;
  color: #000000;
  font-family: var(--poppins);
}

.modal-box-revoke h3 {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  padding-top: 15px;
  font-family: var(--poppins);
}

.modal-box-revoke .buttons {
  float: inline-end;
}

.modal-box-revoke button {
  font-size: 16px;
  margin: 0 10px;
}

/* Modal Box Pop Up Edit User */
.edt-btn {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--poppins);
  color: #fff;
  padding: 10px 15px;
  border: none;
  background: #428bca;
  border-radius: 6px;
  cursor: pointer;
}

.cancel-btn {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--poppins);
  color: #fff;
  padding: 10px 15px;
  border: none;
  background: #a19e9e;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 15px;
}

/* button:hover {
	background-color: #265df2;
} */

button.show-modal,
.modal-box-edit {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

section.active .show-modal {
  display: none;
}

.overlay-edit {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
}

section.active .overlay-edit {
  opacity: 1;
  pointer-events: auto;
}

.modal-box-edit {
  max-width: 800px;
  width: 100%;
  padding: 39px 39px;
  border-radius: 10px;
  background-color: #fff;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%) scale(1.2);
}

section.active .modal-box-edit {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.modal-box-edit i {
  margin-right: 5px;
}

.modal-box-edit h2 {
  font-size: 25px;
  font-weight: bold;
  color: #000000;
  font-family: var(--poppins);
}

.modal-box-edit h3 {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  padding-top: 15px;
  font-family: var(--poppins);
}

.modal-box-edit .buttons {
  margin-left: 64%;
  margin-top: 25px;
}

.modal-box-edit button {
  font-size: 14px;
  padding: 6px 12px;
  margin: 0 10px;
}

/* Form container */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"] {
  background-color: #073066;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.general-information-label {
  font-size: 22px;
  font-weight: 500;
  padding-right: 1400px;
}

.value {
  padding-left: 5px;
  font-weight: bold;
}

.profile-container {
  display: flex;
  gap: 20px;
  margin-top: 25px;
  border-radius: 15px;
  padding: 20px;
  background-color: #fff;
  padding-left: 22px;
  box-shadow: 0 0 0px #999999;
  transition: box-shadow 0.2s ease-in-out;
}

.sample-image {
  border-color: #000000;
  background-color: #cdcdcd;
  width: 177px;
  height: 177px;
  border-radius: 14px;
  margin-left: 1px;
}

.doc-container {
  margin-top: 25px;
  border-radius: 15px;
  padding: 20px;
  background-color: #fff;
  height: 620px;
  transition: box-shadow 0.2s ease-in-out;
}

.confirmation-text {
  text-align: center;
}

.revoke-text {
  text-align: center;
  font-weight: 300;
}

.user-label {
  text-align: center;
  margin-top: 30px;
}

.doc-container-delete {
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 15px;
  padding: 20px;
  background-color: #fff;
  height: 325px;
  transition: box-shadow 0.2s ease-in-out;
  width: 50%;
}

.doc-container:before {
  content: "";
  display: block;
  position: absolute;
  background-color: #ccc;
  left: 20px;
  right: 20px;
  bottom: 0;
  top: 50%;
  z-index: -1;
  box-shadow: 0 0 40px #999999;
  transition: box-shadow 0.2s ease-in-out;
}

.col-25 {
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Upload File */
.box {
  position: relative;
  background: #ffffff;
  width: 100%;
}

.box-header {
  color: #444;
  display: block;
  padding: 20px;
  position: relative;
  border-bottom: 1px solid #f4f4f4;
  margin-bottom: 10px;
}

.box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}

.dropzone-wrapper {
  border: 2px dashed #91b0b3;
  color: #92b0b3;
  position: relative;
  height: 150px;
}

.dropzone-desc {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 40%;
  top: 50px;
  font-size: 16px;
}

.dropzone,
.dropzone:focus {
  position: absolute;
  outline: none !important;
  width: 100%;
  height: 150px;
  cursor: pointer;
  opacity: 0;
}

.dropzone-wrapper:hover,
.dropzone-wrapper.dragover {
  background: #ecf0f5;
}

.preview-zone {
  text-align: center;
}

.preview-zone .box {
  box-shadow: none;
  border-radius: 0;
  margin-bottom: 0;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.pull-right {
  margin-top: 10px;
}

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-group-xs>.btn,
.btn-xs {
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}


@media screen and (min-width: 475px) and (max-width: 639px) {
  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background: var(--light);
    z-index: 2000;
    font-family: var(--lato);
    transition: 0.3s ease;
    overflow-x: hidden;
}

#content {
  position: relative;
  width: calc(100% - 100px);
  left: 200px;
  transition: 0.3s ease;
}

#content main .table-data {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 24px;
  margin-top: 24px;
  width: 100%;
  color: #000000;
  margin-left: -40px;
}

#content main .table-data .order table th {
  padding-bottom: 12px;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #000000;
  padding-right: 30px;
}

.drop-btn {
  background-color: transparent;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: var(--gap);
  padding: 0.6rem;
  cursor: pointer;
  border-radius: var(--radius);
  border: none;
  position: relative;
  margin-left: 30px;
}

.drop-btn .bx {
  font-size: 1.1rem;
  margin-right: 16px;
}

#content main .head-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
  font-size: 14px;
}

#content main .head-title .left h1 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--dark);
}

#content main .table-data .head h3 {
  margin-right: auto;
  font-size: 20px;
  font-weight: 600;
  color: #000000;
}

#sidebar .side-menu li a {
  width: 100%;
  height: 100%;
  background: var(--light);
  display: flex;
  align-items: center;
  border-radius: 48px;
  font-size: 14px;
  color: var(--white);
  white-space: nowrap;
  overflow-x: hidden;
}

.titleDoc {
  position: relative;
  font-size: 15px;
}

#view {
  font-size: 12px;
  font-weight: 400;
  font-family: var(--poppins);
  color: #fff;
  padding: 10px 15px;
  border: none;
  background: var(--light);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  left: 70px;
  margin-top: 67px;
}

#file {
  font-size: 12px;
  font-weight: 400;
  font-family: var(--poppins);
  border: 1px solid #555;
  padding: 10px 15px;
  background: white;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  left: -10px;
}

#upload {
  font-size: 12px;
  font-weight: 400;
  font-family: var(--poppins);
  color: #fff;
  padding: 10px 15px;
  border: none;
  background: var(--light);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  left: 90px;
  margin-top: 13px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-size: 15px;
  margin-top: 30px;
}

.col-25 {
  width: 50%;
  margin-top: -20px;
}

b {
  font-family: var(--poppins);
  color: #000000;
  margin-left: -10px;
}

.btn-group-xs>.btn, .btn-xs {
  padding: 6px 12px;
  font-size: 11px;
  line-height: 1.5;
  border-radius: 3px;
  margin-right: 25px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 10px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  --gap: 0.5rem;
  --radius: 5px;
  text-align: left;
}

#content main .table-data .order table th {
  padding-bottom: 12px;
  font-size: 18px;
  text-align: center;
  border-bottom: 1px solid #000000;
  padding-left: 15px;
}
}

@media screen and (min-width: 640px) and (max-width: 767px) {
  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100%;
    background: var(--light);
    z-index: 2000;
    font-family: var(--lato);
    transition: 0.3s ease;
    overflow-x: hidden;
}

#content {
  position: relative;
  width: calc(100% - 240px);
  left: 240px;
  transition: 0.3s ease;
}

.titleDoc {
  position: relative;
  top: 20px;
  font-size: 20px;
}

#view {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--poppins);
  color: #fff;
  padding: 10px 15px;
  border: none;
  background: var(--light);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  left: 80px;
  margin-top: 100px;
}

#upload {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--poppins);
  color: #fff;
  padding: 10px 15px;
  border: none;
  background: var(--light);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  left: 100px;
  margin-top: 41px;
}

#file {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--poppins);
  border: 1px solid #555;
  padding: 10px 15px;
  background: white;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  left: 0px;
}

.col-25 {
  width: 50%;
  margin-top: 10px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-size: 20px;
}

input[type="text"], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: 15px;
  margin-top: -10px;
}

.col-75 {
  float: left;
  width: 100%;
  margin-top: 6px;
  margin-bottom: 10px;
}

b {
  font-family: var(--poppins);
  color: #000000;
  margin-left: -150px;
}

#content main .table-data .order table th {
  padding-bottom: 12px;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #000000;
  padding-right: 30px;
}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #content main .head-title .left .breadcrumb {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    font-size: 25px;
}

#content main .table-data .order table th {
  padding-bottom: 12px;
  font-size: 22px;
  text-align: left;
  border-bottom: 1px solid #000000;
}

.titleDoc {
  position: relative;
  top: 20px;
  font-size: 20px;
}

#view {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--poppins);
  color: #fff;
  padding: 10px 15px;
  border: none;
  background: var(--light);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  left: 60px;
  margin-top: 80px;
}

#upload {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--poppins);
  color: #fff;
  padding: 10px 15px;
  border: none;
  background: var(--light);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  left: 100px;
  margin-top: 20px;
}

#file {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--poppins);
  border: 1px solid #555;
  padding: 10px 15px;
  background: white;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  left: -10px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-size: 20px;
}

.col-25 {
  width: 50%;
  margin-top: 6px;
}

input[type="text"], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: 20px;
}

b {
  font-family: var(--poppins);
  color: #000000;
  margin-left: -250px;
  font-size: 20px;
}

.btn-group-xs>.btn, .btn-xs {
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 3px;
}

.pull-right {
  margin-top: 10px;
  font-size: 20px;
}

#content main .table-data .order table th {
  padding-bottom: 12px;
  font-size: 22px;
  text-align: left;
  border-bottom: 1px solid #000000;
  padding-right: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 10px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  --gap: 0.5rem;
  --radius: 5px;
  font-size: 20px;
}

.general-information-label {
  font-size: 22px;
  font-weight: 500;
  padding-right: 1400px;
  margin-top: -20px;
}
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    --shadow: rgba(0, 0, 0, 0.05) 0px 6px 10px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
    --gap: 0.5rem;
    --radius: 5px;
    font-size: 22px;
}

#content main .head-title .left h1 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--dark);
}

#content main .head-title .left .breadcrumb li a {
  color: var(--dark);
  pointer-events: none;
  font-size: 30px;
}

#content main .table-data .head h3 {
  margin-right: auto;
  font-size: 35px;
  font-weight: 600;
  color: #000000;
}

#content main .table-data .head .bx {
  cursor: pointer;
  font-size: 35px;
}

#content main .table-data .order table th {
  padding-bottom: 12px;
  font-size: 30px;
  text-align: left;
  border-bottom: 1px solid #000000;
}

.titleDoc {
  position: relative;
  top: 20px;
  font-size: 30px;
}

#view {
  font-size: 25;
  font-weight: 400;
  font-family: var(--poppins);
  color: #fff;
  padding: 10px 15px;
  border: none;
  background: var(--light);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  left: 100px;
  margin-top: 106px;
}

#upload {
  font-size: 25px;
  font-weight: 400;
  font-family: var(--poppins);
  color: #fff;
  padding: 10px 15px;
  border: none;
  background: var(--light);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  left: 150px;
  margin-top: 50px;
}


#file {
  font-size: 30px;
  font-weight: 400;
  font-family: var(--poppins);
  border: 1px solid #555;
  padding: 10px 15px;
  background: white;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  left: -10px;
  margin-bottom: -20px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-size: 35px;
}

.col-25 {
  width: 50%;
  margin-top: 6px;
}

input[type="text"], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: 30px;
}

b {
  font-family: var(--poppins);
  color: #000000;
  font-size: 35px;
  margin-left: -400px;
}

.btn-group-xs>.btn, .btn-xs {
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  font-size: 20px;
  margin-top: 10px;
}

.pull-right {
  margin-top: 10px;
  font-size: 30px;
}
#content main .table-data .order table th {
  padding-bottom: 12px;
  font-size: 30px;
  text-align: left;
  border-bottom: 1px solid #000000;
  padding-right: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 10px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  --gap: 0.5rem;
  --radius: 5px;
  font-size: 22px;
}

.general-information-label {
  font-size: 30px;
  font-weight: 500;
  padding-right: 1400px;
}
}

@media screen and (min-width: 1280px) and (max-width: 1536px) {
  #content main .head-title .left h1 {
    font-size: 65px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
}

#content main .head-title .left .breadcrumb li a {
  color: var(--dark);
  pointer-events: none;
  font-size: 45px;
}

#content main .table-data .head h3 {
  margin-right: auto;
  font-size: 55px;
  font-weight: 600;
  color: #000000;
}

#content main .table-data .head .bx {
  cursor: pointer;
  font-size: 45px;
}

.titleDoc {
  position: relative;
  top: 20px;
  font-size: 40px;
}

#view {
  font-size: 35px;
  font-weight: 400;
  font-family: var(--poppins);
  color: #fff;
  padding: 10px 15px;
  border: none;
  background: var(--light);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  left: 100px;
  margin-top: 106px;
}

#file {
  font-size: 40px;
  font-weight: 400;
  font-family: var(--poppins);
  border: 1px solid #555;
  padding: 10px 15px;
  background: white;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  left: -10px;
  margin-bottom: -20px;
}

#upload {
  font-size: 35px;
  font-weight: 400;
  font-family: var(--poppins);
  color: #fff;
  padding: 10px 15px;
  border: none;
  background: var(--light);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  left: 150px;
  margin-top: 42px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-size: 45px;
}

input[type="text"], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: 40px;
}

b {
  font-family: var(--poppins);
  color: #000000;
  font-size: 35px;
}

.btn-group-xs>.btn, .btn-xs {
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  font-size: 25px;
  margin-top: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 10px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  --gap: 0.5rem;
  --radius: 5px;
  font-size: 27px;
}

.general-information-label {
  font-size: 50px;
  font-weight: 500;
  padding-right: 1400px;
  padding-right: 20px;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 450px;
  height: 100%;
  background: var(--light);
  z-index: 2000;
  font-family: var(--lato);
  transition: 0.3s ease;
  overflow-x: hidden;
}

#content {
  position: relative;
  width: calc(100% - 450px);
  left: 450px;
  transition: 0.3s ease;
}

#content main .table-data .order table th {
  padding-bottom: 12px;
  font-size: 13px;
  text-align: left;
  font-size: 35px;
  padding-right: 30px;
  border-bottom: 1px solid #000000;
}

.pull-right {
  margin-top: 10px;
  font-size: 30px;
}

#sidebar .brand {
  font-size: 35px;
  font-weight: 700;
  height: 56px;
  display: flex;
  align-items: center;
  color: var(--white);
  position: sticky;
  top: 0;
  left: 0;
  background: var(--light);
  z-index: -1;
  padding-bottom: 20px;
  box-sizing: content-box;
}
}