doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Untitled
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css')
    link(rel='stylesheet', href='../../ver3/style.css')
  body
    .footer-basic
      footer
        p.copyright Teamang - 9488 - IT312/312L - 1st Semester AY 2023 - 2024
        p.copyright IT Department
        p.copyright School of Accountancy, Management, Computing, and Information Studies
        p.copyright Saint Louis University
        p.copyright Teamang &copy; 2023. All rights reserved.
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js')
// credit to https://epicbootstrap.com/snippets/footer-basic